{% extends 'layout.html' %}
{% block title %}Transaction History
{% endblock title %}
{% block body %}
<section class="content customer">
  &nbsp;&nbsp;&nbsp;&nbsp;
<h2 class="text-center"><strong style="color:rgb(0, 0, 0);">Transaction History</strong></h2>
&nbsp;&nbsp;&nbsp;&nbsp;
<table class="table">
  <thead class="table">
    <tr>
      <th scope="col" style="background-color:#ffffff">Sender's Name</th>
      <th scope="col"style="background-color:#ffffff">Sender's Account No.</th>
      <th scope="col"style="background-color:#ffffff">Sender's Current Balance</th>
      <th scope="col"style="background-color:#ffffff">Money Deposit</th>
      <th scope="col"style="background-color:#ffffff">Receiver's Name</th>
      <th scope="col"style="background-color:#ffffff">Date </th>
    </tr>
  </thead>
  {% for details in history %}
  <tbody>
    <tr>
      <td style="background-color:#ffffff">{{details.source_name}}</td>
      <td style="background-color:#ffffff">{{details.source_acc_no}}</td>
      <td style="background-color:#ffffff">{{details.Current_balance}}</td>
      <td style="background-color:#ffffff">{{details.money_deposit}}</td>
      <td style="background-color:#ffffff">{{details.destination_name}}</td>
      <td style="background-color:#ffffff">{{details.date}}</td>
    </tr>
  </tbody>
  {% endfor %}
</table>
</section>
{% endblock body %}
